* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container  {
    display: grid;
}

header {
    background-color: rgb(46, 46, 46);
}

header img {
    height: 110px;
}

header img:hover {
    transition: .5s;
    height: 115px;
}
header p {
    color: whitesmoke;
    text-align: center;
    font-size: 12pt;
}

header div {
    background-color:rgb(46, 46, 46) ;
}

header ul li a {
    color: white;
    font-size: 15pt;
}

header ul li a:hover {
    color: purple;
}






footer {
    background-color:rgb(46, 46, 46) ;
    color: white;
    text-align: center;    
}
footer nav a {
    text-decoration: none;
    color: white;
}
footer nav a:hover {
    transition: .2s;
    color: purple;
}